@model SalesWebMvc247.Models.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">@ViewData["Title"].</h1>
<!-- acresentar o atributo de erro abaixo -->

<h2 class="text-danger">@Model.Message</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<form asp-action="Pagina de Erro">
    
    <a asp-action="Index" class="btn btn-primary"> Back to List</a>
</form>


